<%- include('head'); %>
    <title>Filtro</title>
</head>
<body>
    <%- include('header'); %> 

    <div class="filtro">
        <div class="aside-filtro">
            <h1>Te gustaría...</h1>

            <div class="campo-filtro">
                <h3>Edad</h3>
                <select id="edad_filtro">
                    <option value="-1" disable selected>Elige una opción</option>
                    <option value="0">Menos de 30</option>
                    <option value="1">De 30 a 50</option>
                    <option value="2">De 50 a mas</option>
                </select>
            </div>
            <hr>
            <div class="campo-filtro">
                <h3>Pais</h3>
                <input type="text" name="pais">
            </div>
            <hr>
            <div class="campo-filtro">
                <h3>Ciudad</h3>
                <input type="text" name="ciudad">
            </div>
            <hr>
            <div class="campo-filtro">
                <h3>Sexo</h3>
                <label for="hombre" class="label-filtro">Hombre</label>
                <input type="checkbox" id="hombre">
                <label for="mujer" class="label-filtro">Mujer</label>
                <input type="checkbox" id="mujer">
                <label for="no binario" class="label-filtro">No binario</label>       
                <input type="checkbox" id="no binario">     
            </div> 
            <hr>
            <div class="campo-filtro">
                <h3>Orientacion sexual</h3>
                <label for="heterosexual" class="label-filtro">Heterosexual</label>
                <input type="checkbox" id="heterosexual">
                <label for="gay" class="label-filtro">Gay</label>
                <input type="checkbox" id="gay">
                <label for="lesbiana" class="label-filtro">Lesbiana</label>       
                <input type="checkbox" id="lesbiana">
                <label for="asexual" class="label-filtro">Asexual</label>       
                <input type="checkbox" id="asexual">
                <label for="pansexual" class="label-filtro">Pansexual</label>       
                <input type="checkbox" id="pansexual">      
            </div>
            <hr>
            <div class="campo-filtro">
                <h3>Aficiones</h3>
                <input value="viajar" type="checkbox" id="viajar" name="aficiones">
                <label for="viajar" class="label-filtro">Viajar</label>
                <input value="bailar" type="checkbox" id="bailar" name="aficiones">
                <label for="bailar" class="label-filtro">Bailar</label>
                <input value="deportes" type="checkbox" id="deportes" name="aficiones">
                <label for="deportes" class="label-filtro">Deportes</label>
                <input value="cantar" type="checkbox" id="cantar" name="aficiones">
                <label for="cantar" class="label-filtro">Cantar</label>
                <input value="videojuegos" type="checkbox" id="videojuegos" name="aficiones">
                <label for="videojuegos" class="label-filtro">Videojuegos</label>
                <input value="musica" type="checkbox" id="musica" name="aficiones">
                <label for="musica" class="label-filtro">Música</label>
                <input value="cocinar" type="checkbox" id="cocinar" name="aficiones">
                <label for="cocinar" class="label-filtro">Cocinar</label>
                <input value="leer" type="checkbox" id="leer" name="aficiones">
                <label for="leer" class="label-filtro">Leer</label>
                <input value="naturaleza" type="checkbox" id="naturaleza" name="aficiones">
                <label for="naturaleza" class="label-filtro">Naturaleza</label>
                <input value="peliculas" type="checkbox" id="peliculas" name="aficiones">
                <label for="peliculas" class="label-filtro">Películas</label>
                <input value="animales" type="checkbox" id="animales" name="aficiones">
                <label for="animales" class="label-filtro">Animales</label>
            </div>    
        </div>

        <div class="result-filtro">
            <p>Resultado del filtro</p>
        </div>
    </div>

    <%- include('footer'); %>
