<%- include('head'); %> 
    <title>Bienvenido</title>
</head>
    <body>
        <%- include('header'); %> 
        <div class="pag-peticion">
            <h1>¡Petición recibida!</h1>
            <p>
                Muchas gracias por ponerte en contacto con nosotros. <br>
                En breve recibirás una respuesta en tu email o te llamaremos
                al número de teléfono que nos has facilitado.
            </p>
        </div>
        
<%- include('footer'); %> 
   