        <header>
            <nav>
                <img src="/imagenes/Logo_365-removebg-preview.png"  class="logo">
                <ul>
                    <li><a class="active" href="/">Inicio</a></li>
                    <li><a href="filtro">Filtro</a></li>
                    <li><a href="users">Usuarios</a></li>
                    <li><a href="normas">Normas</a></li>  
                </ul>
                <button class="user"><a href="/users/user" class="perfil"><i class="fa-solid fa-user"></i></a></button>
            </nav>
        </header>
    